.buttonLineWrapper {
  display: flex;
  gap: 2px;
  align-items: center;
  max-width: 240px;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  color: white;
  padding: 17px 74px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
}

.buttonLine {
  border-right: 2px solid black;
  height: 50px;
}
