.cartContainer {
  display: flex;
  flex-direction: column;
}

.orderWrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding-top: 199px;
}

.productList {
  max-width: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.emptyCart {
  text-align: center;
}

.cartProduct {
  display: flex;
  position: relative;
  gap: 30px;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(68, 68, 68, 10%);
}

.cartImage {
  max-width: 130px;
  height: 140px;
  object-fit: fill;
  background: rgba(241, 242, 243, 1);
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.title {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: black;
}

.priceWrapper {
  display: flex;
  gap: 48px;
  justify-content: space-between;
  position: relative;
}

.priceAndQuantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity {
  position: absolute;
  left: 150px;
  max-width: 109px;
  width: 100%;
  background: rgba(248, 248, 251, 1);
  display: flex;
  gap: 20px;
  padding: 17px 51px;
  align-items: center;
  justify-content: center;
}

.countButton {
  cursor: pointer;
  color: rgba(153, 153, 153, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
}

.count {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.totalPrice {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-transform: capitalize;
}

.order {
  max-width: 360px;
  width: 100%;
  padding: 40px;
  border: 1px solid rgba(68, 68, 68, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.orderTitle {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-transform: capitalize;
  color: black;
}

.orderPriceWraper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: rgba(68, 68, 68, 1);
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(68, 68, 68, 10%);
}

.priceRow.delimiter {
  border-bottom: 2px solid black;
}

.priceRow.total {
  border-bottom: none;
  padding: 0;
}

.name .additional {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
}

.price {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-transform: capitalize;
  color: rgba(68, 68, 68, 1);
}

.order .buttonLineWrapper {
  max-width: unset;
}

.order .buttonLineWrapper .button {
  width: 100%;
  text-align: center;
}

.promoCodeWrapper {
  max-width: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.promoCode {
  display: flex;
  align-items: center;
  gap: 30px;
}

.promoCode .buttonLineWrapper {
  max-width: 95px;
}

.promoCode .buttonLineWrapper .button {
  max-width: 50px;
  padding: 19px 15px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 60px;
}

.infoTitle {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-transform: capitalize;
  color: black;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: rgba(68, 68, 68, 1);
}

.findUs {
  padding: 0;
}

.findUs .socialLinks {
  padding-bottom: 140px;
}
