.footer {
  border-top: 20px solid rgba(238, 238, 238, 1);
  padding-top: 110px;
  margin: 0 auto;
  margin-top: 110px;
  width: 100%;
  height: 370px;
  position: relative;
}
.footer .dots-icon-5 {
  position: absolute;
  left: 30px;
  top: 50px;
}

.footer .dots-icon-10 {
  position: absolute;
  right: 30px;
  top: 105px;
}

.footer .footer-info {
  display: flex;
}
.footer .footer-info .column-title {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
}

.footer .footer-info .column-1 .about-us {
  display: flex;
  flex-direction: column;
  max-width: 331px;
  gap: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(68, 68, 68, 20%);
  font-family: Raleway;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
}
.footer .footer-info .column-2 {
  margin-left: 75px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .footer-info .column-links {
  font-family: Raleway;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
}
.footer .footer-info .column-2 .column-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: square;
}
.footer .footer-info .column-2 .column-links a {
  text-decoration: none;
  color: #444444;
}

.footer .footer-info .column-3 {
  margin-left: 123px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 119px;
  width: 100%;
}
.footer .footer-info .column-3 .column-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: square;
}
.footer .footer-info .column-3 .column-links a {
  text-decoration: none;
  color: #444444;
}
.footer .footer-info .column-4 {
  margin-left: 74px;
  max-width: 360px;
}
.footer .footer-info .column-4 .news-letter-text {
  margin: 16px 0 36px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
}
.footer .footer-info .column-4 .email-area .input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(68, 68, 68, 20%);
  padding-bottom: 16px;
  outline: none;
  padding-right: 25px;
}
.footer .footer-info .column-4 .email-area {
  position: relative;
}

.footer .footer-info .column-4 .email-area img {
  position: absolute;
  right: 0;
}

.footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(68, 68, 68, 20%);
  padding-top: 23px;
  margin-bottom: 23px;
}
.footer .copyright .copyright-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
}
.footer .copyright .payment-methods {
  display: flex;
  gap: 13px;
}
.footer .copyright .payment-methods .payment-methods-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  text-transform: capitalize;
}

.footer .copyright .payment-methods .payment-methods-units {
  display: flex;
  gap: 8px;
}
